* {
    padding: 0%;
    margin: 0%;
    box-sizing: 0;
}

a{
    all: unset;
    /* proximo é pra cor seguir a do pai  */
    color: inherit; 

}

ul, ol, li{
    list-style: none;
}
/* reset de layout */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 64px;


}

header{
    background-color: aqua;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 64px;   
    width: 64px;
    background-color: lightgray;

}
.menu ul{
    display: flex;
    gap: 32px;

}
main{
    background-color: pink;
    flex-grow: 1;
}

footer{
    background-color: aliceblue;
    height: 50px;
}